# Code owners for window_window_manager
[zidl]
window_scene/session_manager/src/zidl/ @hanamaru @wambers
window_scene/session_manager/include/zidl/ @hanamaru @wambers
window_scene/session/host/src/zidl/ @hanamaru @wambers
window_scene/session/host/include/zidl/ @hanamaru @wambers
window_scene/session/container/src/zidl/ @hanamaru @wambers
window_scene/session/container/include/zidl/ @hanamaru @wambers

[Interfaces]
interfaces/innerkits/wm/wm_common.h @hanamaru @wambers